.component-header {
  display: flex;
  padding: 15px;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.component-header .title {
  font-size: 32px;
}

.component-header .login {
  margin: auto 10px auto auto;
  cursor: pointer;
}

.component-header .login:hover {
  text-decoration: underline;
}

.component-header img {
  position: relative;
  top: 6px;
  padding: 0 14px;
}
